---
import Layout from "@layouts/layout.astro";
---

<Layout>
    <article>
        Esse webapp permite enviar mensagens mais rapidamente para arrecadar
        cestas.
        <br /><br />
        A importação de contatos só funciona no Chrome para Android. Em outros casos
        use uma tabela do Excel.
    </article>

    <h2>1. Escolha um método para importar contatos</h2>

    <a href="/excel" role="button">Tabela do excel</a>
    <a href="/contatos" role="button" class="secondary"
        >Importar contatos (apenas chrome no Android)</a
    >
</Layout>
