---
import Layout from "@layouts/layout.astro";
import ListaContatos from "@components/lista-contatos.svelte";
---
<Layout>
    <h2>3. Enviar para os contatos</h2>
    <ListaContatos client:load />
</Layout>