---
import Recomecar from '@components/recomecar.svelte'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mensagens Pax</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	</head>
	<body>
		<nav class="container">
			<ul>
			  <li><strong>Disparador de mensagens do PAX</strong></li>
			</ul>
			<ul>
			  <li><Recomecar client:idle /></li>
			  <li><a href='/lista-de-contatos'>Lista de contatos</a></li>
			</ul>
		  </nav>
		<main class="container">
		
		<slot />
		</main>
	</body>
</html>
